In [1]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
import numpy as np
# Read data from file 'filename.csv' 
HighSchoolData = pd.read_csv("PercentOver25CompletedHighSchoolUTF.csv") 
# Preview the first 5 lines of the loaded data 
HighSchoolData.head()

  Geographic Area             City percent_completed_hs
0              AL       Abanda CDP                 21.2
1              AL   Abbeville city                 69.1
2              AL  Adamsville city                 78.9
3              AL     Addison town                 81.4
4              AL       Akron town                 68.6

In [2]:
#HighSchoolData = HighSchoolData.iloc[1:]
#HighSchoolData.set_index('Geographic Area', inplace=True)
#HighSchoolData.head()

In [3]:
Step1 = HighSchoolData.drop(columns='City')

In [4]:
# Drop all rows with missing information
Step2 = Step1.dropna(how='any')
Step2.head()

  Geographic Area percent_completed_hs
0              AL                 21.2
1              AL                 69.1
2              AL                 78.9
3              AL                 81.4
4              AL                 68.6

In [5]:
Step2.dtypes

Geographic Area         object
percent_completed_hs    object
dtype: object

In [6]:
Step2.count()

Geographic Area         29329
percent_completed_hs    29329
dtype: int64

In [7]:
Step3 = Step2[~Step2.percent_completed_hs.str.contains("-")]
Step3.count()

Geographic Area         29132
percent_completed_hs    29132
dtype: int64

In [10]:
Step4 = Step3.rename(columns={"Geographic Area": "State"})
Step4.head()

  State percent_completed_hs
0    AL                 21.2
1    AL                 69.1
2    AL                 78.9
3    AL                 81.4
4    AL                 68.6

In [13]:
Step4.dtypes

State                   object
percent_completed_hs    object
dtype: object

In [14]:
Step4[["percent_completed_hs"]] = Step4[["percent_completed_hs"]].apply(pd.to_numeric)
Step4.dtypes

State                    object
percent_completed_hs    float64
dtype: object

In [20]:
Step5 = Step4.groupby('State').percent_completed_hs.mean()
Step5.head()

State
AK    84.627381
AL    80.300685
AR    79.949538
AZ    80.467117
CA    81.955430
Name: percent_completed_hs, dtype: float64

In [21]:
cleanedHS = Step5.to_frame()
cleanedHS.head()

       percent_completed_hs
State
AK                84.627381
AL                80.300685
AR                79.949538
AZ                80.467117
CA                81.955430

In [28]:
cleanHS = cleanedHS.rename(columns={"percent_completed_hs": "Completed High School (%)"})
cleanHS

       Completed High School (%)
State
AK                     84.627381
AL                     80.300685
AR                     79.949538
AZ                     80.467117
CA                     81.955430
CO                     90.106637
CT                     91.591667
DC                     89.300000
DE                     88.519481
FL                     85.737814
GA                     79.012500
HI                     91.665563
IA                     90.112263
ID                     85.168000
IL                     88.483443
IN                     86.319265
KS                     88.230448
KY                     82.370130
LA                     79.289641
MA                     92.404082
MD                     88.422481
ME                     91.430769
MI                     89.207659
MN                     89.465559
MO                     83.522266
MS                     78.470718
MT                     90.488430
NC                     83.249458
ND                     87.815250
NE                     89.987868
NH                     90.711340
NJ                     90.853959
NM                     80.982639
NV                     87.715385
NY                     90.613724
OH                     88.344600
OK                     82.909743
OR                     88.304545
PA                     89.023396
RI                     88.825000
SC                     80.849873
SD                     87.753906
TN                     81.631163
TX                     75.690000
UT                     91.617925
VA                     84.880270
VT                     89.976860
WA                     88.197577
WI                     90.263964
WV                     82.345050
WY                     92.100538

In [30]:
cleanHS.to_csv(r'/Users/bryanwilson/Desktop/CleanData/HSData.csv')