In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("../CleanData/encounter_data_new.csv")
df

,ID,Age,Gender,Race,City,State,Latitude,Longitude,Cause_of_Death,Mental_Illness,Year
0,18697,22,Male,European-American/White,Chatham,MA,41.689389,-69.965995,Vehicle,Drug or alcohol use,2015
1,18698,18,Male,Hispanic/Latino,Key Largo,FL,25.156104,-80.390268,Tasered,Drug or alcohol use,2015
2,18699,22,Male,African-American/Black,Savannah,GA,32.066691,-81.167881,Beaten/Bludgeoned with instrument,No,2015
3,18700,53,Male,Asian/Pacific Islander,Shelton,WA,47.246534,-123.119497,Gunshot,Yes,2015
4,18701,47,Male,European-American/White,Aloha,OR,45.487375,-122.891422,Gunshot,Drug or alcohol use,2015
...,...,...,...,...,...,...,...,...,...,...,...
8974,28189,39,Male,Race unspecified,Manheim Township,PA,40.097679,-76.306661,Gunshot,No,2020
8975,28190,39,Female,Race unspecified,Poteau,OK,35.049475,-94.618321,Gunshot,No,2020
8976,28191,37,Female,Hispanic/Latino,Hanover Park,IL,42.005649,-88.145289,Vehicle,No,2020
8977,28192,36,Male,European-American/White,Bryant,AR,34.610959,-92.471312,Gunshot,No,2020
8978,28193,25,Male,Hispanic/Latino,Corpus Christi,TX,27.752096,-97.450684,Gunshot,No,2020

In [23]:
race = df["Race"].value_counts()

In [14]:
race.to_csv("../CleanData/data_count/race_count.csv")

AttributeError: Cannot access callable attribute 'to_csv' of 'DataFrameGroupBy' objects, try using the 'apply' method